<style>
    body {
        background-image: url("https://i.ibb.co/C3Lfcpjm/dl-wallpaper-pause-red.png");
        background-size: 100% 100%;
        background-attachment: fixed;
    }

    nav {
        background-color: #000;
        border: #f00 2px solid;
        border-radius: 10px;
        padding: 5px;
        text-align: center;
    }

    .navLinks ul {
        display: flex;
        list-style: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .navLinks li {
        display: inline-block;
        padding: 0 15px;
    }

    footer {
        background-color: #000;
        border: #f00 2px solid;
        border-radius: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    .footerLinks ul {
        display: flex;
        list-style: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .footerLinks li {
        display: inline-block;
        padding: 0 15px;
    }

    p {
        color: #fff;
    }

    a {
        color: #f00;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>
